PetCenter.Infrastucture.Domain.Main/Service References/ServiceRest/RestServiceImplementacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15721/RestServiceImplementacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestService" />
  <xs:element name="GetArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestService" minOccurs="0" name="GetArchivoResult" nillable="true" type="q1:ArrayOfBE_AsistenciaArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>